<p class="header">Employee Management System</p>
<button class="mx-4 btn btn-primary">Add More Employee</button>
<!-- table -->
<h3 class="my-3 mx-2">Employee List:</h3>
<div class="my-2 mx-2">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">DOB</th>
        <th scope="col">HireDate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>James</td>
        <td>Parker</td>
        <td>05-26-1994</td>
        <td>05-06-2023</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>John</td>
        <td>Halms</td>
        <td>03-15-1996</td>
        <td>01-06-2022</td>
      </tr>
    </tbody>
  </table>
</div>
