<p class="header">Employee Management System</p>
<button routerLink="/addEmployee" class="mx-4 btn btn-success">
  Add More Employee
</button>
<button
  (click)="removeAllEmployees()"
  routerLink="/"
  class="mx-4 btn btn-danger"
>
  Remove All Employees
</button>
<!-- table -->
<h3 class="my-3 mx-2">Employee List:</h3>
<input
  class="my-3 mx-2"
  type="text"
  name="search"
  [(ngModel)]="currentEmployee.lastName"
  placeholder="search for employees"
  (input)="getAllByName()"
/>
<!-- <button class="btn btn-primary" (click)="getAllByLastName()">Search</button> -->
<div class="my-2 mx-2">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">DOB</th>
        <th scope="col">HireDate</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let data of employees; let i = index">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ data.firstName }}</td>
        <td>{{ data.lastName }}</td>
        <td>{{ data.dob }}</td>
        <td>{{ data.hireDate }}</td>
        <td>
          <a class="mx-1" routerLink="edit/{{ data.id }}"
            ><i style="color: rgb(15, 150, 233)" class="bi bi-pencil-square"></i
          ></a>
          <a class="mx-1" (click)="deleteEmployeeById(data.id)"
            ><i style="color: rgb(248, 54, 54)" class="bi bi-trash"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
